<footer class="flex flex-col items-center justify-around py-8">
  <!-- Logo -->
  <div>
    <a href="/#" aria-label="Main">
      <img width="33px" height="33px" src="assets/images/logo.png" alt="logo" />
    </a>
  </div>
  <p class="text-center text-dark pt-4">
    &copy; {new Date().getFullYear()} | Site by Robert Lehmann
  </p>
</footer>
