---
import Logo from "./Logo.astro";
---

<footer class="flex flex-col items-center justify-around py-8">
  <Logo />
  <p class="text-center text-dark pt-4">
    &copy; {new Date().getFullYear()} | Site by Robert Lehmann
  </p>
</footer>
