<section class="hero flex flex-col items-start justify-center py-8" id="about">
  <h1 class="hero-title font-extrabold text-4xl md:text-5xl mb-4">
    I'm a developer.
  </h1>
  <p class="hero-pre text-lg font-bold uppercase -order-1 mb-4">
    Hello, my name is Rob
  </p>
  <div class="hero-text text-lg font-light mb-4">
    I've contributed to open source projects and had the opportunity to work
    with NGOs, using technology to make a positive impact. With a passion for
    programming and a penchant for learning, I am looking to further build my
    career in the software industry.
  </div>
</section>
