<div
  class="logo bg-dark text-lightGray flex items-center justify-center hover:bg-lightBlue"
>
  <a href="/#" aria-label="Main">R</a>
</div>

<style>
  .logo {
    height: 33px;
    width: 33px;
    border-radius: 50%;
  }
  .logo > a {
    font-family: "Press Start 2P", monospace;
    font-size: 18px;
    margin: 3px 0 0 3px;
  }
</style>
