---
import Card from "./ProjectCard.astro";

const projects = await Astro.glob("../projects/*.md");
---

<section class="projects py-8">
  <h2 class="font-bold text-4xl mb-4" id="projects">Projects</h2>
  <div class="md:grid gap-4 md:grid-cols-2 lg:grid-cols-3 sm:flex flex-col">
    {
      projects.map((project) => (
        <Card>
          <a href={`/${project.frontmatter.slug}`}>
            <div
              class="project-wrapper h-full w-full"
              style={`background-image: url(${project.frontmatter.cover_image});`}
            >
              <div class="project-overlay h-full w-full">
                <div class="project-content h-full w-full flex flex-col items-start">
                  <h3 class="project-title text-2xl font-bold py-4 mb-4">
                    {project.frontmatter.title}
                  </h3>
                  <p class="project-desc text-lg pb-4">
                    {project.frontmatter.description}
                  </p>
                </div>
              </div>
            </div>
          </a>
        </Card>
      ))
    }
  </div>
</section>

<style>
  .project-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
  }

  .project-overlay {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  .project-desc {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .project-overlay:hover .project-desc {
    opacity: 1;
  }

  @media only screen and (max-width: 768px) {
    .project-overlay .project-desc {
      opacity: 1;
    }
  }
</style>
